*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild'
/app/src/main/res/values/guardian_api_key.xml
.idea/vcs.xml
app/app-release.apk
app/app-release_minified.apk
app/libs/
app/src/main/res/drawable/
app/src/main/res/values/guardian_api_key.xml
